body *{
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 900;
}

body {
  background-color: lightgray;
}

.page {
  width: 850px;
  background-color: rgb(249, 253, 255);
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.vis-container {
  width: 100%;
}

.description h2, h1 {
  background-color: #ffdfe9;
  margin-top: 0px;
  text-align: center;
}

.description-right {
  padding-left: 10px;
}

.description-left {
  padding-right: 10px;
}

.pure-g {
  margin-bottom: 35px;
}

.small-font {
  font-size: 14px;
}